*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
	
}

body{
	background-color: #171717;
	max-width: 1920px;
	margin: 0 auto;
}
.header{
	width: 1420px;
	margin: 0 auto;
	background-color: #171717;
	height: 373px;
	

}
.wrapper_header{
	display: flex;
	justify-content: space-between;
	/* row-gap: 1500px; */
	padding-top: 45px;
	color:  #FFFFFF;	 

}

.logo{
	/* padding-left: 230px; */
	padding-top: 46px;
	text-decoration: none;
}
.call_back{
	
border: 1px solid #E4B564;
font-family: 'Gilam', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
margin-top: 37px;
padding: 10px 25px 10px 20px;

}

.text{
/* justify-content: center; */
padding-left: 10px;	
}


.section_1, .section_2, .section_3{
	font-family: 'Gilam', sans-serif;
    font-weight: 700;
    line-height: 28px; 
	color:  #FFFFFF;
	width: 100%;
}

.container{
	width: 1420px;
	margin: 0 auto;	 
}
.section_title_1 {
	font-family: 'Gilam', sans-serif;
	font-size: 50px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	

}
.section_title_2{
	padding-top: 161px;
	/* padding-right: 713px; */
	padding-bottom: 94px;
	font-family: 'Gilam', sans-serif;
	font-size: 50px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	

	
}

.section_information{
	font-family: 'Gilam', sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	padding-top: 40px;
	padding-bottom: 41px;
	
	
}
.section_3_title_wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 64px 0;
}

.block1{
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: block1;
	background: #634F2C;
	width: 467px;
	height: 468px;
	
}
.block2{
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: block2;
	background: #B4A385;
	width: 467px;
	height: 468px;
}
.block3{
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: block3;
	background: #E4B564;
	width: 467px;
	height: 468px;
}
.block4{
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: block4;
	background: #635A4A;
	width: 715px;
	height: 715px;
}
.block5{
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: block5;
	background: #B08C4D;
	width: 715px;
    height: 715px;
}
.container_1{
	
	color: #FFFFFF;
	font-family: 'Gilam', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
	justify-content: center;
	gap: 25px;
	display: grid;
	grid-template-areas: 
	                "block1 block1 block2 block2 block3 block3"
	                "block4 block4 block4 block5 block5 block5";
}

.parent {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	}
	
	/* .div1 { grid-area: 1 / 1 / 3 / 2; }
	.div2 { grid-area: 3 / 1 / 7 / 2; }
	.div3 { grid-area: 1 / 2 / 4 / 3; }
	.div4 { grid-area: 4 / 2 / 7 / 3; }
	.div5 { grid-area: 1 / 3 / 3 / 4; }
	.div6 { grid-area: 3 / 3 / 5 / 4; }
	.div7 { grid-area: 5 / 3 / 7 / 4; } */
.block1_1{
	display: flex;
	height: 290px;
	width: 453px;
	grid-area: block11;
	border-radius: 0px;
	background: #0E0E0E;
    padding:44px 113px 219px 52px ;
	color: #FFFFFF;

}
.block2_2{
	display: flex;	
	color: #FFFFFF;
	height: 435px;
	width: 453px;
	grid-area: block22;
	border-radius: 0px;
	background: #242424;
	padding: 44px 114px 345px 51px;

}
.block3_3{
	display: flex;
	height: 290px;
	width: 453px;
	grid-area: block33;
	border-radius: 0px;
	color: #FFFFFF;
	background: #1F1F1F;
	padding: 44px 117px 186px 48px;

}
.block4_4{
	display: flex;
	color: #FFFFFF;
	height: 580px;
	width: 453px;
	grid-area: block44;
	border-radius: 0px;
	background: #1F1F1F;
	padding: 56px 113px 479px 52px;

}
.block5_5{
	display: flex;
	height: 420px;
	width: 453px;
	grid-area: block55;
	border-radius: 0px;
	background: #E4B564;
	color: #000;
	padding: 47px 113px 333px 52px;
	
}

.block6_6{
	display: flex;
	height: 290px;
	width: 453px;
	grid-area: block66;
	border-radius: 0px;
	color: #FFFFFF;
	background: #0E0E0E;
	padding: 44px 117px 244px 48px;

}
.block7_7{
	display: flex;
	height: 269px;
	width: 453px;
	grid-area: block77;
	border-radius: 0px;
	background: #0A0909;
	color: #FFFFFF;
	padding: 44px 117px 200px 48px;
	}

.container_2{
	
	padding-right: 230px;
	padding-bottom: 211px;
	font-family: 'Gilam', sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	gap: 30px; 
	display: grid;
	grid-template-areas:
                    "block11 block22 block33"
					"block11 block22 block33"
					"block44 block22 block66"
					"block44 block55 block66"
					"block44 block55 block77"
					"block44 block55 block77";
}

.footer{
	/* width: 100%; */
	height: 1076px;
	background-color: #0E0E0E;
	margin-bottom: 238px;
}
.wrapper_footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	row-gap: 683px;
	padding-top: 172px;
	padding-bottom: 72px;
	color:  #FFFFFF;
	padding-left: 230px;

}

.menu{
	display: flex;
	height: 50px;
	width: 180px;
	left: 1508px;	
	border-radius: 0px;
	color: #E4B564;
    border: 1px solid #E4B564; 	
	/* padding-top: 161px;
	padding-bottom: 61px;
	 */
	 padding: 10px 39px 10px 39px;

}
/* .text2{
	justify-content: center;
		
} */

.section_title_3{
	
	font-family: 'Gilam', sans-serif;
	font-size: 50px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	
	
}
.text3{
	font-family: 'Gilam', sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: center;

}

.container_3{
	display: grid;
	font-family: 'Gilam', sans-serif;
	font-size: 50px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	color: #FFFFFF;
	/* padding-top: 383px; */
	padding-bottom: 72px;
	grid-template-columns: 473px 474px 473px;
	grid-template-rows: 391px 391px;
	

}
.menu_link_1{
	
	background: #634F2C;
	padding: 171px 151px;
	

}
.menu_link_2{
	background: #E8D2ABC2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

/* .text3{
	padding-bottom: 61px;
	padding-top: 16px;
} */

.menu_link_3{
	background: #E4B564;
	padding: 174px 148px 175px 149px;

}
.menu_link_4{
	background: #635A4A;
	padding: 174px 148px 175px 149px;

}
.menu_link_5{
	background: #B08C4D;
	padding: 169px 184px 169px 183px;

}
.menu_link_6{
	background: #634F2C;
	padding: 171px 151px;

}




